body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#canvas {
    border: 1px solid #000;
}

button {
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}

#predictionResult {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}
